@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sidebar {
    position: absolute;
    background-color:rgb(128, 128, 125);
    transition: transform 0.3s ease-in;
    font-family: "Fira Sans", sans-serif;
    height: 500vh;
}

.sidebar nav {
    padding: 45px;
}

body{
    background-color: #73FBD3;
}
.sidebar nav li {
    list-style-type: none;
    font-size: 25px;
    padding: 23px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main {
    width: 810px;
   
}

.container {
    display: flex;
}

.infoContainer{
    background-color: rgb(236, 243, 243);
    height: 410px;
    width: 70vw;
    display: flex;
    margin: 50px 250px;
    justify-content:space-evenly;

}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Kanit", serif;
    margin-left: 10px;
}
.hello{
    font-size: 40px;
}
.name{
    font-size: 35px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}
.about{
    font-size: 21px;
}
.moreabout{
    font-size: 15px;
    margin-top: 20px;
    font-family: "Fira Sans", sans-serif;
}

.buttons{
   margin: 34px;

}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold ;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color:white ;
    color: dodgerblue;
}


.devPic img{
    height: 410px;
}
.photo1{
    margin: 0px 350px;
    
}
.photo2{
    margin: 0px 350px;
   
}
.photo3{
    margin: 0px 350px;
    
}

.contactform{
    padding: 0 30px;
    font-family: "Fira Sans", sans-serif;
    margin: 90px 250px;
}
.contactform h1{
    font-family: "Kanit", serif;   
    padding: 12px 0;

}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;

}
.blogContainer{
    margin: 0px 250px;

}
#emailHelp{
    font-size: 12px;
    margin: 0 5px;
    color: red;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 20px;
    margin: 3px 0;
}

.blogitem {
margin: 20px;
font-family: "Fira Sans", sans-serif;
}
 h1{
    font-family: "Fira Sans", sans-serif;
    margin: 23px;

}
 p{
    font-family: "Kanit", serif;
}

.intro{
    margin: 90px 250px;
}
.intro h2{
    font-family: "Fira Sans", sans-serif;
    margin:12px;
}

.intro p{
    font-family: "Kanit", serif;
    margin:12px;
    font-size: 20px;
}

.skillcontainer{
padding: 12px;
}
.skillitem{
    display: flex;
    font-family: "Kanit", serif;
    align-items: center;
    font-weight: 500;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: blue;
    border: 1.5px solid black;
}

.hund{
    width: 265px;
background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: rgb(251, 255, 0);
}
.t5{
    width: 75px;
    background-color: brown;
}
.sidebarGo{
    transform:translate(-403px, 0px) ;
    position: absolute;
}


.hamburger{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;
}

.cross{
    margin-left:180px ;
    margin-top: 8px;
}

@media (max-width: 1350px){

.devPic{
    display: none;
}

.intro, .blogContainer, .contactform{
    margin: 50px 8px;
}
.ham{
    width: 50px;
}
.cross{
    margin-left: 150px;
    width: 35px;
}
.infoContainer{
    margin: 20px 110px;

}
.photo1, .photo2, .photo3{
    margin: 20px 110px;
}
}